In [1]:
import pandas as pd 
import numpy as np
import sqlite3 as sq

In [2]:
# importing data from database
conn = sq.connect("Inputs/SQLite/database_pyfire.db")
features = pd.read_sql_query("select * from Features", conn)
sales = pd.read_sql_query("select * from Sales", conn)
stores = pd.read_sql_query("select * from Stores", conn)

In [3]:
# data merging and reordering
full = pd.merge(features,sales, how='left',on= ['Store','Date', 'IsHoliday'])
full = pd.merge(full,stores, how='left',on=['Store'])
full = full.drop(['index_x','index_y','index'], axis=1)
full = full[['Date','Store','Dept','Type','Size','Weekly_Sales','Temperature','Fuel_Price','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5','CPI','Unemployment','IsHoliday']]
full.head(10)

,Date,Store,Dept,Type,Size,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,05/02/2010,1,1.0,A,151315,24924.50,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
1,05/02/2010,1,2.0,A,151315,50605.27,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
2,05/02/2010,1,3.0,A,151315,13740.12,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
3,05/02/2010,1,4.0,A,151315,39954.04,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
4,05/02/2010,1,5.0,A,151315,32229.38,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
5,05/02/2010,1,6.0,A,151315,5749.03,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
6,05/02/2010,1,7.0,A,151315,21084.08,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
7,05/02/2010,1,8.0,A,151315,40129.01,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
8,05/02/2010,1,9.0,A,151315,16930.99,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0
9,05/02/2010,1,10.0,A,151315,30721.50,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0

In [4]:
#Checking data types
full['Date'] = pd.to_datetime(full['Date'])
full['Temperature'] = (full['Temperature'] - 32) * 5/9
types_encoded, types = full['Type'].factorize()
full['Type'] = types_encoded
full.dtypes

Date            datetime64[ns]
Store                    int64
Dept                   float64
Type                     int64
Size                     int64
Weekly_Sales           float64
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
IsHoliday                int64
dtype: object

In [5]:
#Checking missing values and replacing them 
full.isnull().sum()

Date                 0
Store                0
Dept              1755
Type                 0
Size                 0
Weekly_Sales      1755
Temperature          0
Fuel_Price           0
MarkDown1       270892
MarkDown2       310793
MarkDown3       284667
MarkDown4       286859
MarkDown5       270138
CPI                585
Unemployment       585
IsHoliday            0
dtype: int64

In [31]:
# Recode markdown variables to binary variable for markdowns

TypeError: Invalid comparison between dtype=datetime64[ns] and int